<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    #amount {
      width: auto;
    }
  </style>
</head>

<body>
  <div id="app" class="container">
    <div class="form-group row">
      <label for="amount" class="col-sm-2 col-form-label">Amount Of Saturdays:</label>
      <div class="col-sm-10">
        <select id="amount" v-model="amountOfDays" class="form-control">
          <option v-for="i in 20" :value="i">{{ i }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Your Name:</label>
      <div class="col-sm-10">
        <input type="text" id="name" v-model="senderName" class="form-control">
      </div>
    </div>
    
    <div class="saturdays-container">
      <ul>
        <li v-for="date in formattedDates">{{ date }}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="download-container">
          <button @click="downloadICSFile" class="btn btn-primary btn-block">Download ICS File</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="email-invitation-container">
          <button @click="sendEmailInvitation" class="btn btn-primary btn-block">Send Email Invitation</button>
        </div>
      </div>
    </div>
  </div>
  

  <script>
    function getAllSaturdays() {
      var currentYear = new Date().getFullYear();
      var dates = [];
      for (var month = 0; month < 12; month++) {
        var d = new Date(currentYear, month, 1);
        while (d.getDay() !== 6) {
          d.setDate(d.getDate() + 1);
        }
        while (d.getMonth() === month) {
          dates.push(new Date(d.getTime()));
          d.setDate(d.getDate() + 7);
        }
      }
      return dates;
    }

    function getSaturdays(allSaturdays) {
      var filteredDates = [];
      var startMonth = 3;
      var endMonth = 8;
      allSaturdays.forEach(function (date) {
        var month = date.getMonth();
        if (month >= startMonth && month <= endMonth) {
          filteredDates.push(date);
        }
      });
      return filteredDates;
    }

    function getRandomSaturdays(allSaturdays, amountOfDays) {
      var randomSaturdays = [];
      var randomIndexes = [];
      var totalSaturdays = allSaturdays.length;

      while (randomIndexes.length < amountOfDays) {
        var randomIndex = Math.floor(Math.random() * totalSaturdays);
        if (!randomIndexes.includes(randomIndex)) {
          randomIndexes.push(randomIndex);
          randomSaturdays.push(allSaturdays[randomIndex]);
        }
      }
      return randomSaturdays;
    }

    function generateICSFile(allSaturdays) {
      var icsFileContent = "BEGIN:VCALENDAR\nVERSION:2.0\nPRODID:-//hacksw/handcal//NONSGML v1.0//EN\n";
      allSaturdays.forEach(function (date) {
        var start = formatDate(date);
        var end = formatDate(new Date(date.getTime() + (60 * 60 * 1000)));
        icsFileContent += "BEGIN:VEVENT\nDTSTART;VALUE=DATE:" + start + "\nDTEND;VALUE=DATE:" + end + "\nSUMMARY:Hiking Event\nEND:VEVENT\n";
      });
      icsFileContent += "END:VCALENDAR";

      var element = document.createElement("a");
      element.setAttribute("href", "data:text/calendar;charset=utf8," + encodeURIComponent(icsFileContent));
      element.setAttribute("download", "saturdays.ics");

      element.style.display = "none";
      document.body.appendChild(element);

      element.click();

      document.body.removeChild(element);
    }

    function formatDate(date) {
      var yyyy = date.getFullYear().toString();
      var mm = (date.getMonth() + 1).toString();
      var dd = date.getDate().toString();
      var hh = date.getHours().toString();
      var min = date.getMinutes().toString();
      var ss = date.getSeconds().toString();
      return yyyy + (mm[1] ? mm : "0" + mm[0]) + (dd[1] ? dd : "0" + dd[0]) + "T" + (hh[1] ? hh : "0" + hh[0]) + (min[1] ? min : "0" + min[0]) + (ss[1] ? ss : "0" + ss[0]) + "Z";
    }

    var app = new Vue({
      el: "#app",
      data: {
        allSaturdays: [],
        senderName: 'Furzgesicht',
        amountOfDays: localStorage.getItem("amountOfDays") || 6
      },
      computed: {
        formattedDates: function () {
          return this.allSaturdays.map(date => {
            return this.formatDateForHTML(date);
          });
        }
      },
      methods: {
        downloadICSFile: function () {
          generateICSFile(this.allSaturdays);
        },
        formatDateForHTML: function (date) {
          return date.toLocaleString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric' });
        },
        sendEmailInvitation: function () {
          var emailBody = `Hey friends!\n\nGet ready for some fun and adventure! Here's a list of all the Saturdays we'll be having a blast together this year:\n`;
          this.formattedDates.forEach(date => {
            emailBody += `- ${date}\n`;
          });
          emailBody += `\nCan't wait to hang out with y'all!\n\nCheers,\n ${this.senderName}`;

          // Use the mailto: protocol to open the recipient's email client
          window.location.href = `mailto:?subject=Saturday plans!&body=${encodeURIComponent(emailBody)}`;
        }

      },
      mounted() {
        this.allSaturdays = getRandomSaturdays(getSaturdays(getAllSaturdays()), this.amountOfDays);
        this.allSaturdays.sort((a, b) => new Date(a) - new Date(b));
      },
      watch: {
        amountOfDays: function () {
          localStorage.setItem("amountOfDays", this.amountOfDays);
          this.allSaturdays = getRandomSaturdays(getSaturdays(getAllSaturdays()), this.amountOfDays);
        }
      }
    });


  </script>
</body>

</html>